@media ( max-width: 700px){

    .movie-card img{
        width: 350px;
    }

    .description{
        text-align: justify;
        width: 350px;
    }
    #logo h3{
        display: none;
      }
    .app-container{
        width: 100%;
    }
}